/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #1a262b;
}

ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.top-header-right .navbar {
    padding: 15px 10px;
    background: #fdbf2d !important;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1a262b;
    color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    position: relative;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #1a262b;
        box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);
        position: relative;
        z-index: 9999;
    }

    #sidebar ul.components {
        padding: 10px 0 0;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px 10px 10px 44px;
        font-size: 12px;
        display: block;
        color: #99a5aa;
        letter-spacing: 1px;
        font-weight: 400;
        border-left: 3px solid #1a262b;
    }

        #sidebar ul li a:hover {
            color: #ffffff;
            background: rgba(255, 255, 255, 0.1);
            border-left: 3px solid #fdbf2d;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: rgba(255,255,255,0.1);
        border-left: 3px solid #fdbf2d;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

#sidebar ul li a.left-header-icon {
    padding: 10px 10px 10px 15px;
    color: #fdbf2d;
    font-weight: 500;
    margin: 0;
    font-size: 15px;
    background: none !important;
    border: none;
}

    #sidebar ul li a.left-header-icon:after {
        content: "\f107";
        font-family: fontawesome;
        right: 20px;
        top: 20px;
        border: 2px solid #2d383e;
        height: 25px;
        width: 25px;
        text-align: center;
        border-radius: 50px;
        line-height: 19px;
    }

    #sidebar ul li a.left-header-icon.collapsed:after {
        content: "\f106"
    }



.profile-gray-bg.input-profile {
    padding: 20px 33px;
    background: linear-gradient(to bottom, #2f3e42 4%, #263135 100%);
    color: #fff;
}

.model-sec img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}

.model-sec .back-page {
    color: #fff;
    font-size: 14px;
}

.model-sec .darkblack-btn {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    border-left: 2px solid;
    border-radius: 4px;
}

.darkblack-right .module-last img {
    width: 100% !important;
    margin-bottom: 30px;
}

.darkblack-right .p-3.module-last {
    background: #1a262b;
    margin-bottom: 10px;
}

    .darkblack-right .p-3.module-last ul li {
        color: #9b9b9b;
        font-size: 13px;
    }

.module-last p {
    color: #fff;
    font-size: 14px;
}

.module-last {
    padding-left: 0;
}

.n-pagination li a {
    color: #99a5aa;
    border: 2px solid #35464d;
    font-size: 13px;
    border-radius: 30px;
    padding: 5px 25px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

.ring_list ul li {
    position: relative;
    list-style: none;
    padding-left: 15px;
    margin-bottom: 7px;
}

    .ring_list ul li:before {
        position: absolute;
        content: "";
        border: 3px solid #fa9433;
        border-radius: 50%;
        top: 5px;
        left: 0;
        width: 5px;
        height: 5px;
    }

.n-pagination li a i {
    color: #fdbf2d;
    position: absolute;
    left: 7px;
    font-size: 21px;
    top: 3px;
}

    .n-pagination li a i.fa-angle-right {
        right: 7px;
        left: auto
    }

.darkblack-right {
    background: #131b1f
}

.n-pagination li a.back-btn {
    padding: 5px 20px 5px 25px;
    margin-right: 10px;
}

.n-pagination li a.next-btn {
    padding: 5px 25px 5px 20px;
}

.dark-text {
    color: #99a5aa !important
}

.default-btn.small-btn {
    padding: 9px 15px;
    box-shadow: inherit;
}

.n-input .form-group label {
    font-size: 14px;
}

.n-input .form-group select, .n-input .form-group input {
    border: none;
    font-size: 13px;
    height: 35px;
}

.n-input {
    padding: 0 7px;
}

.project-form.mb-4.contct-sec label {
    color: #fff;
}

    .project-form.mb-4.contct-sec label span {
        font-size: 11px;
        margin-left: 20px;
    }

.project-form.mb-4.contct-sec li button {
    border-radius: 0;
    padding: 10px 24px;
    font-weight: 200;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

/***/

.top-header-right button#sidebarCollapse {
    background: no-repeat;
    border: none;
    color: #000;
    padding: 0;
    outline: inherit !important;
    box-shadow: inherit !important;
    white-space: normal;
}
/* #sidebar ul li ul li a { background: #0e181d;} */
.left-header-icon span {
    display: inline-block;
    margin: 0 10px 0 0;
}

#sidebar p.left-header-icon {
    color: #fdbf2d;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0;
}

.top-header-right button#sidebarCollapse svg {
    margin: 0 10px 0 0;
}

.top-header-right button#sidebarCollapse span {
    font-weight: 500;
    letter-spacing: 1px;
}

.top-header-right ul.navbar-nav li a {
    padding: 0;
    position: relative;
}

span.notificatoin-top {
    position: absolute;
    top: -6px;
    background: #dd3849;
    height: 20px;
    width: 20px;
    right: 3px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    font-size: 13px;
}

.top-header-right ul.navbar-nav .dropdown-menu {
    left: auto;
    right: 0;
    border-radius: 0;
    padding: 5px 0;
    border: none;
    background: #fff;
}

.top-header-right ul.navbar-nav li a {
    padding: 0 15px;
    position: relative;
    border: none;
    color: #000;
    display: inline-block;
}

    .top-header-right ul.navbar-nav li a img {
        margin: 0 10px 0 0;
    }

.top-header-right ul.navbar-nav li.notificatoin-li {
    margin: 6px 0 0;
}

.top-header-right ul.navbar-nav .dropdown-menu a {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding: 4px 10px;
}

.container-in-body {
    padding: 0 25px 50px
}

.whitebox-container {
    background: #ffffff03;
    border: 1px solid #eee;
    border-radius: 3px;
}

.account-block-left {
    padding: 25px 40px
}

.create-title {
    margin: 0 0 20px;
}

    .create-title h4 {
        font-size: 18px;
        color: #fff;
    }

.tabs-content-block ul li {
    margin: 0 20px 0 0
}

    .tabs-content-block ul li:last-child {
        margin: 0;
    }

.tabs-content-block ul.nav-pills li a {
    width: 150px;
    padding: 20px 10px;
    text-align: center;
    background: linear-gradient(to bottom, #2f3e42 4%, #263135 100%);
    border: 1px solid #000;
    color: #a3a7aa;
    font-weight: 500;
    border-radius: 2px;
    margin: 0 0 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tabs-content-block .nav-pills .nav-link.active, .tabs-content-block .nav-pills .show > .nav-link {
    background: #fdbf2d;
    color: #1c263f;
    border-color: #f5b852;
    background: linear-gradient(to bottom, #f8ac2d 4%, #fb9234 100%);
}

.tabs-content-block ul li a span {
    display: inline-block;
    width: 100%;
    margin: 0 0 5px;
    height: 45px;
}

.tabs-content-block .nav-pills .nav-link span {
    opacity: 0.5;
}

.tabs-content-block .nav-pills .nav-link.active span {
    opacity: 1;
}

.form-control {
    border-radius: 2px;
    height: 33px;
    font-size: 12px;
    font-weight: 300;
    box-shadow: inherit !important;
    border: 1px solid #3b484f;
    background-color: #1a262b !important;
    color: white !important;
}

.create-form-block .form-group label {
    color: #fff;
    margin: 0 0 2px;
    font-size: 13px;
}

.create-form-block {
    margin: 30px 0 0;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

    .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        font-size: 13px;
        color: #acafbb; top:-1px;
    }

        .styled-checkbox + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
    /* .styled-checkbox:hover + label:before { background: #f5b852;} */
    .styled-checkbox:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    .styled-checkbox:checked + label:before {
        background: #f5b852;
        border: none;
    }

    .styled-checkbox:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

        .styled-checkbox:disabled + label:before {
            box-shadow: none;
            background: #ddd;
        }

    .styled-checkbox:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }


.accept-list-label ul {
    padding: 0;
    list-style: none;
}

.form-group-check ul li.list-inline-item {
    margin: 0 20px 0 0;
}

.msg-error {
    color: #c65848;
}

.g-recaptcha.error {
    border: solid 2px #c64848;
    padding: .2em;
    width: 19em;
}

.blue-bg-btn button {
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: 10px 25px;
    background: linear-gradient(to bottom, #2ca5fa 0%, #188ae1 100%);
    border-color: #2095f0;
    white-space: normal;
}

.create-form-block .form-group {
    margin-bottom: 15px;
}

.gray-box-right {
    background: #131b1f;
    height: 100%;
}

.create-form-block .form-group small {
    color: #999;
    display: inline-block;
    margin: 0 0 0 5px;
}

.p-30 {
    padding: 25px;
}

.p-35 {
    padding: 35px;
}

.p-40 {
    padding: 40px;
}

.p-50 {
    padding: 50px;
}

.welcome-section h4 {
    font-size: 18px;
    margin: 0 0 30px;
    color: #fff;
}

.welcome-section h2 {
    font-weight: 300;
    margin: 0 0 15px;
    color: #f8ad2d;
    font-size: 22px
}

.welcome-section p {
    font-size: 14px;
    font-weight: 400;
    color: #a7aab4;
}

.welcome-section {
    padding: 0 0 20px;
    position: relative;
}

    .welcome-section:after {
        content: "";
        background: #fdbf2d;
        width: 50px;
        height: 3px;
        position: absolute;
        bottom: 0;
    }

.login-form .form-group label {
    font-size: 13px;
    margin: 0 0 2px;
    color: #fff;
}

.forgot-list-ul ul li a {
    color: #acafbb;
    font-size: 13px;
}

    .forgot-list-ul ul li a:hover {
        color: #1a262b;
    }

span.notify-img {
    position: relative;
}

.welcome-container {
    max-width: 800px;
    margin: auto;
}

.parameter-setup {
    position: relative
}

    .parameter-setup span {
        position: absolute;
        left: -4px;
        font-size: 19px;
        font-weight: 500;
        width: 221px;
        text-align: center;
        padding: 14px 18px 23px 23px;
        background: #f22152;
        top: 6px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight:bold;
    }

        .parameter-setup span:after {
            content: "";
            position: absolute;
            border-top: 43px solid transparent;
            border-right: 28px solid #2f3e42 ;
            border-bottom: 54px solid transparent;
            top: 0;
            right: -1px;
        }

        .parameter-setup span:before {
            content: "";
            position: absolute;
            border-top: 24px solid transparent;
            border-left: 16px solid #fff;
            border-bottom: 24px solid transparent;
            top: 0;
            left: -1px;
            display: none
        }

    .parameter-setup h5 {
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #fff;
    }

.welcome-title h2 {
    font-weight: 300;
    letter-spacing: 0.9px;
    color: #fff;
}

.welcome-plastic {
    display: inline-block;
    width: 100%;
}

.selection-section {
    background-image: url(../images/bg-shadow.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0px -60px;
    padding: 50px 25px;
}

.blue-bg {
    background-color: #2c81f5
}

.green-bg {
    background-color: #35af2f
}

.selection-section h3 {
    font-size: 24px;
    color: #fdbf2d;
    margin: 20px 0 0;
}

.selection-section span {
    display: inline-block;
    height: 110px;
}

.software-block h5 {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 30px;
    position: relative;
    padding: 0 0 0 30px;
    color: #fff;
}

    .software-block h5 span.software-icon {
        margin: 0 5px 0 0;
        position: absolute;
        left: 0;
        top: -1px;
    }

.software-caption {
    padding-left: 30px;
}

    .software-caption span {
        display: inline-block;
        width: 100%;
        margin: 0 0 0;
        font-size: 12px;
        color: #e3a40f;
        letter-spacing: 1px;
        font-weight: 400;
    }

    .software-caption p {
        font-size: 14px;
    }

.software-block-section .carousel {
    padding: 0 0 30px;
}

.software-block-section ol.carousel-indicators {
    bottom: 0;
}

    .software-block-section ol.carousel-indicators li {
        width: 7px;
        height: 7px;
        background: #cfd1d8;
        border-radius: 25px;
    }

        .software-block-section ol.carousel-indicators li.active {
            background: #35af2f
        }

.profile-gray-bg {
    padding: 25px 25px 0;
    background: #131d21;
}

.personal-details-btn ul {
    margin: 0;
}

    .personal-details-btn ul li button {
        padding: 15px 25px;
        border-radius: 2px;
    }

.favourite-details-btn p {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #6f777d;
}

    .favourite-details-btn p a {
        color: #f8ad2d;
        text-decoration: underline;
    }

.favourite-details-btn {
    padding-top: 14px;
}

.account-profile h4 {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.account-profile {
    margin: 15px 0 35px;
}

.favourite-list {
    position: absolute;
    top: 31px;
    right: 0;
    z-index: 999;
    display: inline-block;
}

    .favourite-list .btn-group {
        float: right;
    }

        .favourite-list .btn-group button.btn-danger {
            border: none;
            background: none !important;
            color: #fdbf2d;
            padding: 0 20px 0 0;
            box-shadow: inherit !important;
            font-size: 14px;
        }

.parameters-block ul.nav-tabs {
    border: none;
    padding: 0 20px;
}

.parameters-block .nav-tabs .nav-item.show .nav-link, .parameters-block .nav-tabs .nav-link {
    background: none;
    border: none;
    border-radius: 0;
    color: #677074;
    font-size: 16px;
    font-weight: 500;
    padding: 25px;
    border-bottom: 3px solid transparent;
}

    .parameters-block .nav-tabs .nav-item.show .nav-link, .parameters-block .nav-tabs .nav-link.active {
        color: #fdbf2d;
        border-bottom-color: #fdbf2d;
    }

.project-form h4 {
    font-size: 15px;
    margin: 0 0 10px;
    color: #f8ad2d;
}

.required-fields span {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.7px;
    font-weight: 400;
}

select.form-control {
    background: url("../images/select-arrow-down.png") no-repeat right 10px center;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.project-form-block .form-group label {
    font-size: 13px;
    font-weight: 300;
    color: #fff;
}

.favourite-list .dropdown-menu {
    left: auto !important;
    right: 0;
    padding: 0;
}

.whitebox-container1 {
    position: relative;
}

.favourite-list .dropdown-menu a {
    font-size: 14px;
    padding: 5px 15px;
    color: #000;
}

.favourite-list .btn-group button i {
    color: #f5b852;
    margin: 0 6px 0 0;
    font-size: 17px;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    max-width: 200px;
}

    .dropdown-menu a {
        white-space: normal
    }

.darkblack-area {
    background: #182125;
    border: 1px solid #263439;
    border-radius: 3px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
}

.box-heading h4 {
    font-size: 18px;
    margin: 7px 0 0;
    color: #fff;
}

.search-input-right .input-group {
    border: 1px solid #3b484f;
    border-radius: 4px;
    width: 250px;
}

.search-input-right input[type="text"] {
    background: none;
    border: none;
    padding: 0
}

.search-input-right button {
    border: none;
    background: #1a262b;
}

.search-input-right {
    position: relative
}

    .search-input-right button i {
        color: #b1822c;
    }

.input-list-drop {
    display: none;
    position: absolute;
    top: 97%;
    width: 100%;
    background: #000;
    border-radius: 0 0 4px 4px;
    border: 1px solid #3b484f;
    background: #182125;
    padding: 15px;
}


.show-drop .input-list-drop {
    display: block
}

.input-list-drop li {
    display: inline-block;
    margin: 0 0 2px;
    width: 100%;
    font-size: 14px;
}

    .input-list-drop li:last-child {
        margin: 0;
    }

.styled-checkbox + label:before {
    background: #1a262b;
    border: 1px solid #3b484f;
}

.styled-checkbox:checked + label:before {
    background: #f5b852;
    border: none;
    color: #000
}

.styled-checkbox:checked + label:after {
    background: #000;
    box-shadow: 2px 0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000, 4px -6px 0 #000, 4px -8px 0 #000
}

.exiting-table-grid table tr th {
    border: none;
    background: linear-gradient(to bottom, #2f3e42 4%, #263135 100%);
    color: #9b9b9b;
    font-weight: normal;
    padding: 12px 10px;
    font-size: 15px;
    text-align: center
}

.exiting-table-grid table tr td {
    border: 1px solid #2a3236;
    padding: 18px 10px;
    font-size: 14px; /* height:80px; */
    font-weight: 300;
    color: #fff;
    text-align: center
}

.exiting-table-grid table tr:first-child td {
    border-top: transparent;
}

.exiting-table-grid table tr td:first-child {
    border-left: transparent;
}

.exiting-table-grid table tr td:last-child {
    border-right: transparent;
}

.exiting-table-grid table tr td label {
    margin: 0;
    color: #fff;
}

.exiting-table-grid table tr.highlights-tr {
    background: #1e2b30;
    border-left: 6px solid #f8ad2d;
}

.form-group-check {
    margin: 0 0 25px
}

.black-container {
    background: #131b1f;
}

.personal-details-btn ul li button.btn-warning {
    background: linear-gradient(to bottom, #f8ac2d 4%, #fb9234 100%)
}

.exiting-table-grid table tbody tr {
    border-left: 6px solid #182125;
}

.select-delete label {
    color: #ff5f5f;
    font-size: 14px;
    letter-spacing: 0.7px;
}

.back-page a {
    color: #1a98f0;
    text-decoration: none;
    font-size: 14px
}



.project-details .form-group label {
    color: #f8ad2d;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.project-details .form-group input {
    background: none;
    border: none;
    border-bottom: 1px solid #353d41;
    width: 100%;
    font-size: 14px;
    outline: inherit;
    color: #fff;
}

.project-details .form-group select {
    background: none;
    border: none;
    border-bottom: 1px solid #353d41;
    width: 100%;
    font-size: 14px;
    outline: inherit;
    color: #fff;
}

    .project-details .form-group select option {
        color: #000
    }

select.form-control {
    color: #fff !important;
    font-weight: 400;
}

.form-group input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.form-group input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.form-group input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.form-group input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

textarea::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

textarea:-moz-placeholder {
    color: #fff;
    opacity: 1
}

textarea::-moz-placeholder {
    color: #fff;
    opacity: 1
}

textarea:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.default-btn {
    background: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 0.7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-weight: 500;
    cursor: pointer;
    outline: inherit;
}

.darkblack-btn.active-btn, .yellow-btn {
    background: linear-gradient(to bottom, #f8ac2d 4%, #fb9234 100%);
    color: #000;
}

.darkblack-btn {
    background: linear-gradient(to bottom, #2f3e42 4%, #263135 100%);
    color: #f8ac2d;
    border: 1px solid #000;
}

.blue-btn {
    background: linear-gradient(to bottom, #2ca5fa 0%, #188ae1 100%);
    color: #fff;
}

.btn-list-inline ul li.list-inline-item {
    margin: 0;
}

[type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

    [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #fff;
    }

        [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #2d3539;
            border-radius: 100%;
            background: #1a262b;
        }

        [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
            content: "\f111";
            width: 18px;
            height: 18px;
            background: #f5b52c;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            font-family: fontawesome;
            text-align: center;
            color: #000;
            font-size: 11px;
        }

        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

.schedule-table-grid table tr th {
    color: #9b9b9b;
    font-weight: normal;
    padding: 12px 10px;
    font-size: 12px;
    border: 1px solid #2d3539;
    vertical-align: top;
}

.schedule-table-grid table tr td {
    border: 1px solid #2a3236;
    padding: 15px 10px;
    font-size: 13px;
    height: 80px;
    font-weight: 300;
    color: #fff;
    vertical-align: top;
    text-align: center;
}

.schedule-table-grid table tr:first-child td {
    border-top: transparent;
}

.schedule-table-grid table tr th:first-child, .schedule-table-grid table tr td:first-child {
    border-left: transparent;
}

.schedule-table-grid table tr th:last-child, .schedule-table-grid table tr td:last-child {
    border-right: transparent;
}

.schedule-table-grid table tr td label {
    margin: 0;
    color: #fff;
}

.schedule-table-grid table tr.highlights-tr {
    background: #1e2b30;
    border-left: 6px solid #f8ad2d;
}

.available-table-grid table tr th {
    color: #9b9b9b;
    font-weight: normal;
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #2d3539;
    vertical-align: middle;
    text-align: center;
    width: 150px;
}

.available-table-grid table tr td {
    border: 1px solid #2a3236;
    padding: 20px 10px;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    vertical-align: top;
    text-align: center;
    position: relative;
}

.available-table-grid table tr:first-child td {
    border-top: transparent;
}

.available-table-grid table tr th:first-child, .available-table-grid table tr td:first-child {
    border-left: transparent;
}

.available-table-grid table tr th:last-child, .available-table-grid table tr td:last-child {
    border-right: transparent;
}

.available-table-grid table tr td label {
    margin: 0;
    color: #fff;
}

.available-table-grid table tr.highlights-tr {
    background: #1e2b30;
    border-left: 6px solid #f8ad2d;
}

.available-table-grid table tbody tr {
    border-left: 6px solid #182125;
}

.schedule-table-grid table tr td.option-td {
    padding: 0;
}

.option-td span {
    display: inline-block;
    width: 100%;
    padding: 7px 10px;
    border-bottom: 1px solid #2d3539;
    font-size: 12px;
}

    .option-td span:last-child {
        border: 0;
    }

.share-pupup-section .dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 500px;
    max-width: 500px;
    min-width: inherit;
    background: #1a262b;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #2d3539;
    top: 130% !important;
}

    .share-pupup-section .dropdown-menu:before, .share-pupup-section .dropdown-menu:after {
        content: "";
        position: absolute;
        top: -12px;
        left: 0;
        right: 0;
        margin: auto;
        width: 24px;
    }

    .share-pupup-section .dropdown-menu:before {
        border-bottom: 13px solid #2d3539;
        border-right: 13px solid transparent;
        border-left: 13px solid transparent;
        top: -13px;
    }

    .share-pupup-section .dropdown-menu:after {
        border-bottom: 12px solid #1a262b;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
    }

.share-heading h4 {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.share-form .form-group {
    margin-bottom: 5px;
}

.form-group-btn button.default-btn {
    padding: 10px 25px;
    box-shadow: inherit;
    font-weight: normal;
}

.form-group-btn button.darkblack-btn {
    color: #999
}

.model-sec {
    padding: 0 7px;
}

span.relative-radio {
    position: absolute;
    top: 6px;
    left: 0px;
    right: 0;
    margin: auto;
    text-align: center;
}

#radioBtn .active {
    color: #3276b1;
    background: linear-gradient(to bottom, #ffffff 4%, #cccccc 100%);
    border-bottom: 1px solid #999;
}

.form-group-input .form-group label {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

.form-group-input .btn-group {
    padding: 2px;
    border-radius: 2px;
    background: linear-gradient(to bottom, #fb9234 4%, #f8ac2d 100%);
}

    .form-group-input .btn-group a {
        border-radius: 2px !important;
        display: inline-block;
        border: none;
        color: #000 !important;
        font-size: 12px;
        border-bottom: 1px solid transparent;
    }

.form-group-radio .styled-checkbox + label {
    color: #fff;
}

.form-group-radio ul li.list-inline-item {
    margin-right: 15px
}

.selections-heading h4 {
    font-size: 18px;
    color: #f8ad2d;
}

.cfm-label li {
    color: #fff;
    font-size: 14px;
}

    .cfm-label li input {
        width: 80px;
    }

.arrangement-grid {
    background: #1a262b;
    border: 1px solid #3b484f;
    padding: 10px;
    border-radius: 2px;
}

    .arrangement-grid table {
        width: 100%;
    }

        .arrangement-grid table tr td {
            width: 20%;
            padding: 12px 7px;
            vertical-align: middle;
            color: #fff;
            font-size: 14px;
        }

            .arrangement-grid table tr td label {
                margin: 0;
                color: #fff;
                font-size: 14px;
            }

.arrangement-heading h4 {
    font-size: 14px;
    color: #fff;
    font-weight: normal
}

.arrangement-grid table tr {
    border-bottom: 1px solid #3b484f
}

    .arrangement-grid table tr:last-child {
        border: none;
    }

.theorem-text {
    float: left;
    margin: 0 10px 0 0;
}

    .theorem-text span {
        font-size: 15px;
        color: #fff;
        font-weight: 200;
        text-transform: uppercase;
        display: inline-block
    }

        .theorem-text span.crm-space {
            margin: 0 5px;
        }

        .theorem-text span.border-bottom {
            padding: 0 0 5px;
        }

    .theorem-text h4 {
        margin: -5px 0 0;
        position: relative
    }

.theorem-list {
    display: inline-block;
    width: 100%;
    margin: 0 0 20px;
}

.theorem-text h4.col-span:before, .theorem-text h4.col-span:after {
    position: absolute;
    color: #fff;
    top: 18px;
}

.theorem-text h4.col-span {
    padding: 0 15px
}

    .theorem-text h4.col-span:before {
        content: "(";
        left: 0;
    }

    .theorem-text h4.col-span:after {
        content: ")";
        right: 0;
    }

.subscript-text small {
    color: #969696;
    font-weight: 500;
}

.calculator-table-grid {
    background: #1a262b;
    border: 1px solid #3b484f;
}

    .calculator-table-grid td {
        position: relative;
        color: #fff;
        padding: 5px 15px;
        width: 25%;
        font-size: 14px;
        font-weight: 300
    }

    .calculator-table-grid table tr th {
        color: #969696;
        font-size: 13px;
        font-weight: 400;
        padding: 10px;
        background: linear-gradient(to bottom, #2f3e42 4%, #263135 100%);
        border: none;
    }

.calculator-table h4 {
    font-size: 16px;
    color: #f5b52c;
}

.btn-list-inline {
    display: inline-block;
    width: 100%;
}

.fan-heading h4 {
    font-size: 17px;
    color: #fdbf2d;
}

.fan-form-group .form-group label {
    font-size: 13px;
    margin: 0;
}


.fan-form-group .form-group {
    margin-bottom: 10px;
}

.form-group-checkbox .list-inline-item {
    width: 40%;
}

.fan-form-group input::-webkit-input-placeholder {
    color: #969696;
    opacity: 1;
}

.fan-form-group input::-moz-placeholder {
    color: #969696;
    opacity: 1;
}

.fan-form-group input:-ms-input-placeholder {
    color: #969696;
    opacity: 1;
}

.fan-form-group input:-moz-placeholder {
    color: #969696;
    opacity: 1;
}

.form-group-checkbox .list-inline-item label {
    color: #fff;
    font-size: 13px;
}

.form-group-textarea .form-group textarea {
    height: 77px;
}

.form-group-textarea .form-group label {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

.additional-form-section .form-group {
    margin-bottom: 10px;
}

.revisions-table table {
    background: #1a262b;
}

    .revisions-table table th {
        color: #969696;
        font-weight: 400;
        font-size: 14px;
        padding: 7px 10px;
        border: 1px solid #3b484f;
    }

    .revisions-table table td {
        height: 35px;
        border: 1px solid #3b484f;
    }

.revisions-table h4 {
    color: #fff;
    font-size: 15px;
    margin: 0 0 5px;
    font-weight: 400;
}

.chart-btn .default-btn {
    width: 120px;
    border-radius: 0px;
    border: none;
}

.chart-btn .well {
    color: #9b9b9b;
    font-size: 12px;
    border: 1px solid #303a3e;
    border-right: 0;
}

    .chart-btn .well .table thead th {
        border: 0;
        border-right: 1px solid #303a3e;
    }

    .chart-btn .well .table td, .table th {
        border-color: #303a3e;
        border-right: 1px solid #303a3e;
    }

    .chart-btn .well .table {
        margin-bottom: 0;
    }

.calculate {
    color: #fff;
    width: 100%;
    display: inline-block;
}

.chart-btn .calculate button {
    float: right;
    padding: 6px 12px;
    color: #fff;
    border-radius: 2px;
}

.chart-btn {
    color: #fff;
}

.progress-sec {
    color: #93999e;
}

    .progress-sec .blue-print {
        background: #2ba3f8;
        padding: 30px;
        text-align: center;
        color: #fff;
        width: 100%;
    }

.progress {
    background-color: #f99c31;
    height: 6px;
    position: relative;
    width: 96%;
    border-radius: 60px;
    display: inline-block;
    ;
}

.p-bar span {
    font-size: 12px;
}

.middle-progress-sec .table td {
    border: 0;
    font-size: 12px;
    padding: 3px;
}

.p-footer {
    font-size: 12px;
}

.table-colmn h5 {
    color: #fdbf2d;
    font-size: 16px;
}

.table-colmn {
    border: .5px solid #364045;
    border-radius: 6px;
    background: #202a2f;
}

.p-bar .table {
    margin-bottom: 0;
}

.table-colmn span {
    font-size: 16px;
    text-align: right;
    float: right;
}


.login-form .form-group {
    margin-bottom: 15px;
}

.grid-section-table table {
    background: #1a262b;
}

    .grid-section-table table tr th, .grid-section-table table tr td {
        padding: 10px;
        width: 25%;
        text-align: center;
        color: #9b9b9b
    }

        .grid-section-table table tr th:first-child, .grid-section-table table tr td:first-child {
            text-align: left;
        }

    .grid-section-table table tr th {
        background: #1e2b30;
    }

    .grid-section-table table tr td {
        color: #fff
    }


.chart-btn h4 {
    font-size: 18px;
    font-weight: 500;
}

li.list-inline-item.border-full button {
    float: left;
}

li.list-inline-item.border-full {
    border: 1px solid #3f494e;
    background: linear-gradient(to bottom, #2f3e42 4%, #263135 100%);
    border-radius: 2px;
}

    li.list-inline-item.border-full button:first-child {
        border-radius: 0 3px 3px 0;
    }

    li.list-inline-item.border-full button:last-child {
        border-radius: 3px 0px 0px 3px;
    }

li.list-inline-item.n-input select.form-control {
    height: 45px;
    border: 1px solid #263236;
}

.personal-details-btn ul li button.btn-light {
    background: linear-gradient(to bottom, #2f3e42 4%, #263135 100%);
    border: none;
    color: #fdbf2d;
}

.favourite-profile-list {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #29373d;
    margin: 0 0 30px;
    padding: 10px 0 10px;
}

.favourite-heading h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.favourite-btn-list li a {
    color: #6f777d;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.favourite-btn-list li.active a {
    color: #fff;
}

.favourite-btn-list li.list-inline-item {
    margin: 0;
    margin-right: 25px;
}

    .favourite-btn-list li.list-inline-item:last-child {
        margin: 0
    }

.favourite-btn-list li a span {
    display: inline-block;
    margin: 0 3px 0 0
}

.favourite-btn-list li a img {
    margin: -3px 0 0;
}



.favourite-position {
    position: relative;
}

.form-group-input.black-radio-btn .btn-group {
    background: linear-gradient(to bottom, #182125 4%, #141c1f 100%);
    box-shadow: inset 0 0 4px #000000;
}

    .form-group-input.black-radio-btn .btn-group a.notActive {
        color: #fff !important
    }


.form-group-input.black-radio-btn #radioBtn .active {
    background: linear-gradient(to bottom, #fb9234 4%, #f8ac2d 100%);
}
.exiting-table-grid table tr th:first-child {
    text-align: left;
    padding-left: 25px;
}
.exiting-table-grid table tr td:first-child{text-align:left; padding-left: 22px;}






/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


@media (max-width: 767px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }

    .top-header-right ul.navbar-nav li a {
        padding: 10px 0;
        width: 100%;
    }

    .welcome-title h2 {
        font-size: 22px;
        font-weight: 500
    }

    .welcome-title.mt-5.mb-5 {
        margin-top: 0 !important;
    }

    .parameter-setup span {
        left: 0;
        right: 0;
        margin: auto;
        top: -40px;
        width: 205px;
        font-size: 13px;
    }

        .parameter-setup span:before, .parameter-setup span:after {
            border-top: 38px solid transparent;
            border-bottom: 38px solid transparent;
            display: block;
            border-left: none;
        }

    .selection-section h3 {
        font-size: 22px;
    }

    .personal-details-btn ul li {
        margin: 0 0 5px;
    }

    .favourite-list {
        position: static;
        width: 100%;
        margin: 30px 0 0;
    }

    .parameters-block .nav-tabs .nav-item.show .nav-link, .parameters-block .nav-tabs .nav-link {
        padding: 30px 10px;
        margin: 20px 0 0;
    }

    .favourite-details-btn {
        padding-bottom: 15px;
    }

    .account-block-left {
        padding: 20px;
    }

    .tabs-content-block ul li {
        margin: 0 10px 0 0
    }

    .tabs-content-block ul.nav-pills li a {
        width: 108px;
        font-size: 11px
    }

    .selection-section {
        background-size: 100% 100%;
    }
    /*-----neil-media-14jan---*/
    .model-sec .darkblack-btn {
        width: 100%;
    }

    .module-last {
        padding-left: 15px;
    }

    .n-pagination li a {
        display: inline-block;
        margin-right: 0;
        width: auto;
    }

    .n-pagination .btn-list-inline ul li.list-inline-item {
        margin-bottom: 10px;
        text-align: center;
    }
    /*-----neil-media-14jan---*/

    .form-group-checkbox .list-inline-item {
        width: 100%;
    }

    .chart-sec .btn-list-inline ul li.list-inline-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .chart-sec button {
        width: 100%;
    }

    .chart-sec select.form-control {
        width: 100% !important;
    }

    .chart-btn .default-btn {
        width: 110px;
    }

    .progress {
        width: 92%;
    }
}



@media(min-width:768px) and (max-width:1023px) {

    .account-block-left {
        padding: 25px 20px;
    }

    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
    }

    .top-header-right ul.navbar-nav li a {
        padding: 10px 0;
        width: 100%;
    }

    .model-sec img {
        margin-right: 4px;
    }

    .model-sec .darkblack-btn {
        font-size: 12px;
    }

    .parameter-setup h5 {
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #fff;
        padding-left: 150px;
    }
}

@media(min-width:1024px) and (max-width:1200px) {

    .form-group-checkbox .list-inline-item {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .chart-btn .default-btn {
        width: 90px;
    }

    .chart-btn .calculate button {
        font-size: 12px;
    }

    .calculate {
        font-size: 12px;
    }
}
